name: Auto Assign Author

on:
  pull_request:
    types: [opened]

jobs:
  assignAuthor:
     name: Assign Author to PR
     runs-on: ubuntu-slim
     timeout-minutes: 1
     # コメント
     steps:
      - uses: technote-space/assign-author@v1
