name: Auto assign author

on:
  pull_request:
    types: [opened]
  
jobs:
  assign-author:
     runs-on: ubuntu-slim
     timeout-minutes: 1  
     permissions:
       pull-requests: write
     # assigneesが設定されていない場合のみ実行する
     if: ${{ toJSON(github.event.pull_request.assignees) == '[]' }}
     steps:
     - name: Assign author to PR
       uses: actions/github-script@v7
       with:
         script: |
           const { owner, repo } = context.repo;
           const { number, user } = context.payload.pull_request;
           await github.rest.issues.addAssignees({
              owner: owner,
              repo: repo,
              issue_number: number,
              assignees: [user.login]
           });
