name: Auto Assign Author

on:
  pull_request_target:
    types: [opened]
    
permissions:
  pull-requests: write
  
jobs:
  assignAuthor:
     name: Assign Author to PR
     runs-on: ubuntu-latest
     timeout-minutes: 1
     steps:
      - uses: technote-space/assign-author@v1
