name: Auto Assign Author

on:
  pull_request:
    types: [opened]

jobs:
  assign-author:
     name: Assign Author to PR
     runs-on: ubuntu-slim
     timeout-minutes: 1
     # コメント追加
     steps:
      - name: Assign Author to PR
        env:
          GITHUB_TOKEN: ${{ github.token }}
          GITHUB_REPOSITORY: ${{ github.repository }}
        run: gh pr edit ${{ github.event.number }} --add-assignee ${{ github.actor }}
