name: Update Redmine Issue

on:
  pull_request:
    types: [opened, closed] 
      
env: 
  SAMPLE_NUMBER: ${{ secrets.SAMPLE_NUMBER }}

jobs:
  update-redmine-issues:
    if: >
      (contains(github.head_ref, 'redmine') || contains(github.head_ref, 'bugfix'))
    runs-on: ubuntu-slim
    timeout-minutes: 5
    steps:
    - name: Extract Redmine Issue IDs
      id: extract   
      env:
        PR_TITLE: ${{ github.event.pull_request.title }}
      run: |      
        ISSUE_IDS="$(printf '%s' "$PR_TITLE" \
          | grep -oi 'Redmine[[:space:]]*[0-9]\+' \
          | grep -o '[0-9]\+' \
          | tr '\n' ' ')"

        # ISSUE_IDSが空なら終了し、その後のstepsをスキップ 
        if [ -z "$ISSUE_IDS" ]; then
          echo "Skipping update: Not found redmine issue ids"
          exit 1
        fi
        echo "issue_ids=$ISSUE_IDS" >> $GITHUB_OUTPUT
    
    # PR本文からテキストを抽出し、PandocでTexileに変換
    - name: Setup Pandoc
      uses: pandoc/actions/setup@v1
      with:
        version: 3.8

    - name: Extract PR Text and Convert to Textile 
      id: create_append_text
      env:
        PR_BODY: ${{ github.event.pull_request.body }}
      run: |
        TEXT_FOR_REDMINE=$(printf '%s' "$PR_BODY" | awk '            
          /<!--[[:space:]]*Redmine[[:space:]]*:[[:space:]]*Start[[:space:]]*-->/ {flag=1; next}
          /<!--[[:space:]]*Redmine[[:space:]]*:[[:space:]]*End[[:space:]]*-->/   {flag=0}
          flag
        ')
        echo "Text for redmine: $TEXT_FOR_REDMINE"
        
        if [ -z "$TEXT_FOR_REDMINE" ]; then
          echo "new_text=" >> $GITHUB_OUTPUT
          exit 0
        fi
        
        CONVERTED_PR_TEXT=$(printf '%s' "$TEXT_FOR_REDMINE" \
          | pandoc --sandbox --from=gfm-raw_html+hard_line_breaks --to=textile --wrap=none)
        echo "Converted PR text: $CONVERTED_PR_TEXT"
        
        NEW_TEXT=$(printf '%s\n%s\n' \
          "> 【$(date -u +'%Y/%m/%d')】↓自動記入" \
          "$CONVERTED_PR_TEXT")

        # $GITHUB_OUTPUT へ複数行出力（ヒアドキュメント形式）
        {
          echo "new_text<<EOF"
          printf '%s\n' "$NEW_TEXT"
          echo "EOF"
        } >> "$GITHUB_OUTPUT"

    - name: Update Redmine Issues
      shell: bash
      env:
        APPEND_TEXT: ${{ steps.create_append_text.outputs.new_text }}
      run: |
        for ISSUE_ID in ${{ steps.extract.outputs.issue_ids }}; do    
          # 現在記入されているテキストを取得
          ORIGINAL_TEXT=""

          # 既存テキストと結合          
          if [[ -n "$ORIGINAL_TEXT" ]]; then
            NEW_TEXT="$ORIGINAL_TEXT"$'\n\n'"$APPEND_TEXT"
          else
            NEW_TEXT="$APPEND_TEXT"
          fi
        done
